*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
  font-family: Arial, sans-serif;
}

body {
  display: grid;
  place-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

form {
  border: solid 1px black;
  padding: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

hr {
  margin: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin: 1rem;
  text-align: center;
}
